<div class="nav-menu">
    <nav class="nav">
        <NavLink href="/" Match="NavLinkMatch.All">
            Home
        </NavLink>
        <NavLink href="/boards">
            Boards
        </NavLink>
    </nav>
</div>
