<div class="nav-menu">
    <nav class="nav flex-column">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            <i class="bi bi-house-door"></i>
            <span>Home</span>
        </NavLink>
        <NavLink class="nav-link" href="/boards">
            <i class="bi bi-kanban"></i>
            <span>Boards</span>
        </NavLink>
    </nav>
</div>
